* {
    margin: 0;
    box-sizing: border-box;
    color: white;
}

.landingPage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transition: 0.5s;
    font-family: "Merianda";
}

.video-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
}

.bg-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.navBar {
    width: 100%;
    height: 6em;
    border-bottom: 2px solid white;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

.menu {
    height: 3em;
    width: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 6em;
    cursor: pointer;
}

.menu div {
    width: 90%;
    height: 0.25em;
    background-color: white;
    border-radius: 1em;
}

.menu div:nth-of-type(2) {
    width: 40%;
}

.home-text {
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    font-family: "Merianda";
}

h1 {
    font-size: 4em;
}

p {
   justify-self: flex-end; 
   font-size: 1.5em;
}

.home-btn {
    width: 4em;
}