.header {
    background-color: #301934;
    display: flex;
    justify-content: center;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active {
    border: 1px solid whitesmoke;
    padding: 10px;
    border-radius: 20px;
}

.headerDesc {
    margin: 20px 0 ;
}